body {
  margin-top: 100px;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

header h1 {
    color: white;
    padding-left: 18px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 236px 270px 0px 290px;

}

.pokemonButton {
    height: 125px;
    width: 125px;

    margin: 10px;

    text-transform: capitalize;
    font-size: 15px;

    background-image: url("../assets/pokeball.png");
    background-size: contain;
    background-position: center;

    border-color: rgb(56, 56, 56);
    border-radius: 100%;

    cursor: pointer;
    outline: none;
}

.pokemonButton p {
    background-color: rgb(56, 56, 56);
    margin-bottom: 0px;
    width: 99px;
    border-radius: 6px;
    color: white;
}

.btn-primary {
    color: black; 
    background-color: transparent;
    border-color: transparent;
}

button {
    border-radius: 100%;
}

.pokename-title {
    text-transform: capitalize;
    justify-content: center;
}

.pokeImg {
    height: 150px;
    width: auto;
}

.modal-column {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

ul {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
}