header {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

header h1 {
    color: white;
    font-weight: 900;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 225px 102px 0px 290px;

}

.pokemonButton {
    height: 125px;
    width: 125px;

    margin: 10px;

    text-transform: capitalize;
    font-size: 15px;
    color: yellowgreen;

    background-image: url("../assets/pokeball.png");
    background-size: contain;
    background-position: center;

    border-color: rgb(56, 56, 56);
    border-radius: 100%;

    cursor: pointer;
    outline: none;
}

.pokemonButton p {
    background-color: rgb(56, 56, 56);
}

.modal {
    height: 700px;
}